

  <div class="alert alert-warning" role="alert">
<i class="fa fa-warning"></i> <b>Important:This specification is defined as "Experimental" and as such is deemed to be for consultation and discussion only. Its main purposes are:

<ul>
<li>To show a proposed approach to using PRSB headings with a FHIR structured record.</li>
<li>To illustrate possible mapping of the FHIR resources to each PRSB heading used in the maternity record.</li>
<li>To illustrate how the maternity data set could map to a FHIR structure record and FHIR resources.</li>
<li>To stimulate discussion about PRSB heading and FHIR.
</ul>
The approach document here is currently being evaluated and discussed with parties who are actively involved in the maternity programme, however feedback would be welcomed from any other parties.
</b> </div>

